@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

main {
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-se
}

.App {
  text-align: center;
}

.App-logo {
  width: 50%;
  margin-top: -30vh;
}

.App-header {
  background-color: #ffffff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.bodycontent {
font-family: 'Montserrat';
font-size: 16px;
color: black;

}


